# MinIO config
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minioadmin
MINIO_SECRET_KEY=minioadmin
MINIO_BUCKET=local-history
MINIO_USE_SSL=false
# .env cho backend NestJS
MONGODB_URI=mongodb+srv://nhannt221it_db_user:Y293fJej2ApYJ4el@cluster0.wjbca0f.mongodb.net/mydb?retryWrites=true&w=majority&appName=Cluster0
PORT=5173
